body {background-image: url(abehiroshi.jpg);}
/*---------------------------------------------------*/
header {
    text-align:center;
}
/*---------------------------------------------------*/
h1 {
    font-size: 2rem;
}
/*---------------------------------------------------*/
h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom:2rem;
}
/*---------------------------------------------------*/
address {
    border-top: 1px solid pink;
    line-height: 1em;
}
/*---------------------------------------------------*/
p {
}
/*---------------------------------------------------*/
.parag {
    line-height: 0.3em;
}
/*---------------------------------------------------*/
div#wrapper {
    line-height: 0.2em;
    width: 800px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #000000;
}
